/* background image not finalized...will be self designed
*/


body {
	color: black;
	background-image: url("../images/raindrops.png");
	background-size: 100%;
}

#logo {
	font-family: 'Poiret One';
	font-size: 200px;
	font-style: bold;
	margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);	
}


form {
    top: 75%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#sentence {
	font-family: 'Indie Flower';
}

#popmenu {
	background-color: rgba(255, 255, 255, 0.6);
	padding: 10px;
	text-align: center;
	top: 50%;
	float: left;
	margin: 0 auto;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease; 
  opacity: 0;
  }