div {
	background-color: lightgray;
	padding: 10px 5px;
	margin: 5px 20px 0px 20px;
}

#hello-hi {
	background-color: black;
	color: white;
	text-align: center;
	padding: 5px 5px;
	margin: 0 auto;
}


p {
	text-align:center;
	background-color: orange;
	padding: 5px 2px;
	border-style: solid;
	margin: 5px;
}

#first {
	color: purple;
}

#second {
	color: green;
}

#third {
	color: yellow;
}